<footer class="page-footer bg-dark">

  <div class="bg-success">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
       
        <div class="col-md-6 social-networks">
          <span>¡Conéctate con nosotras en las redes sociales!!</span>
        </div>
        <div class="col-md-6 social-networks">
          <a href="#"><i class="fab fa-facebook-f white-text mr-4"> </i></a>
          <a href="#"><i class="fab fa-twitter white-text mr-4"> </i></a>
          <a href="#"><i class="fab fa-google-plus-g white-text mr-4"> </i></a>
          <a href="#"><i class="fab fa-linkedin-in white-text mr-4"> </i></a>
          <a href="#"><i class="fab fa-instagram white-text"> </i></a>
        </div>

     </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row">

      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold title-footer">GRUPO H&M ENMETAL S.A.C</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 182px; ">
        <p class="mt-2"><img src="../../assets/Enmetal.jpeg" width="130px" alt=""></p>
      </div>

      <div class="col-md-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold title-footer">Servicios</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; ">
       
         <ul class="list-unstyled">
            <li class="my-2"><a href="#">Servicio de torno</a></li>        
            <li class="my-2"><a href="#">soldadura general</a></li>
            <li class="my-2"><a href="#">Instalaciones eléctricas</a></li>
          </ul>
      </div>
  
      <div class="col-md-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold title-footer" >Modulos</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 120px; ">
          <ul class="list-unstyled">
            <li class="my-2"><a routerLink="home">Inicio</a></li>        
            <li class="my-2"><a routerLink="service">Servicios</a></li>
            <li class="my-2"><a routerLink="cotizador">Cotizador</a></li>
            <li class="my-2"> <a routerLink="nosotros">Nosotros</a></li>       
            <li class="my-2"> <a routerLink="contact">Contacto</a></li>    
          </ul>
      </div>

      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold title-footer" >Contactos</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 150px; ">
          <ul class="list-unstyled">
            <li class="my-2"><i class="fas fa-home mr-3"></i> MZA. H LOTE. 4 OTR. TEPRO ALTO SAN MARTIN (POR LA LOZA DEPORTIVA)</li>
            <a class="my-2" href="mailto:ewhuarcaya@gmail.com"><i class="fas fa-envelope mr-3"></i> ewhuarcaya@gmail.com</a>
            <li ></li>
            <a class="my-2" href="tel:+51 956057252"><i class="fas fa-phone mr-3"></i>+51 956057252</a>

            <!-- <li class="my-2"><i class="fas fa-print mr-3"></i>956057252</li> -->
          </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <p>&copy; 2020 GRUPO H&M ENMETAL S.A.C. Todos los derechos reservados
    <!-- <a href="#">theprovider.com</a></p> -->
  </div>
</footer>