.title-footer{
  font-size: 15px;
}

.title-footer {
  font-family: 'Krona_One';
  font-size: 18px;
}
.list-unstyled {
  font-family: 'Nunito_Sans';
  font-size: 15px;
}
.social-networks{
  font-size: 20px;
  text-align: center;
}