/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Krona_One";
  src: url(../src/assets/Krona_One/KronaOne-Regular.ttf);
}
@font-face {
  font-family: "Nunito_Sans";
  src: url(../src/assets/Nunito_Sans/NunitoSans-Italic.ttf);
}
