<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolorum earum animi provident laudantium alias cum magnam, odit nemo esse excepturi a, quidem, quae et reprehenderit odio ipsum neque soluta.</p>
    </div>
  </div>
</div>